*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  }


.header {
         background-color: #282829;
         height: 20px;
         display: flexbox;
         color: white;
         text-decoration: none;
         position: sticky;
         outline: 1px solid red;
}

body {height: 90%;
      outline: 5px solid green;}