$colorPrimario    : #ffc24794;
$colorSecundario  : #ff4;
$colorOscuro      : #000;
$colorFuente      : white;
$fuentePeque     : 1rem;
$fuenteNormal      : 1.5rem;
$fuenteGrande     : 2rem;
$fuentePrimaria: 'Open Sans', sans-serif;

@mixin ColorAmarillo {
    color: $colorPrimario;
}