$colorPrimario    : #ffc24794;
$colorSecundario  : #ff4;
$colorOscuro      : #000;
$colorFuente      : white;
$colorBlur        : rgba(0, 0, 0, 0.527);
$colorTrans       : transparent;
$fuentePeque      : 1rem;
$fuenteNormal     : 1.5rem;
$fuenteGrande     : 2rem;
$fuenteExtra      : 3rem;
$fuentePrimaria: 'Open Sans', sans-serif;

@mixin ColorTexto {
    color: $colorFuente;
}